alembic
asyncio
asyncpg
bcrypt==4.0.1
colorama
email-validator
fastapi
python-multipart
httpx
isort
passlib
pathlib
python-dotenv
python-jose
python-slugify
pytest-cov
pytest-xdist
SQLAlchemy==2.0.0b3
uvicorn
